RewriteEngine On
RewriteRule ^\.git.*$              /index.php          [R,L]
RewriteCond %{REQUEST_FILENAME}             !-f
RewriteCond %{REQUEST_FILENAME}             !-d
RewriteRule ^([a-zA-Z0-9_-]+)$     /index.php?page=$1  [QSA,L]


<Files "update.sh">
Order Allow,Deny
Deny from all
</Files>