<hr/>
<div class="container text-muted" id="footer">
    <p class="pull-right" id="locales">
        {{#locales}}
            &emsp;<a href="#">{{name}}</a>
        {{/locales}}
    </p>

    <p>
        <a href="https://deratrox.de/impressum">{{lang.footer.impress}}</a>&emsp;
        <a href="https://deratrox.de/datenschutz">{{lang.footer.privacy}}</a>&emsp;
        <a href="https://github.com/deratrox/bbcode-creator-web">GitHub</a>
    </p>

    <p>&copy by DerAtrox.de &mdash; {{{lang.footer.info}}}</p>
</div>
</div>