#footer {
    font-size: 90%;
}

#footer p {
    margin-bottom: 6px;
}

#footer .fa.fa-heart{
    color: red;
}

#wrapper {
    margin-top: 20px;
}

.media img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    -o-object-fit: cover;
}

.img-data {
    margin: 16px 0;
}

#loading, #failed {
    display: none;
}

#url-input {
    margin-bottom: 16px;
}
