{{^hidejumbo}}
    <div class="jumbotron jumbotron-fluid" id="homejumbotron">

        <div class="container">
            <a class="pull-right btn btn-outline-success btn-sm" role="button" id="dismiss" data-toggle="tooltip"
               data-placement="left" title="{{lang.home.jumbotron.hide}}"><i class="fa fa-angle-double-up"></i></a>
            <h1 class="display-3">bbCode Creator</h1>
            <p class="lead">{{lang.home.jumbotron.lead}}</p>
        </div>
    </div>
{{/hidejumbo}}

lalals