<div class="container" id="wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="display-4">{{lang.main.settings}}</h1>
        </div>
    </div>

    <div class="row" id="content">
        <div class="col-xs-12 col-lg-10 offset-lg-1">

            <div class="form-group row">
                <label class="col-md-4 col-form-label">{{lang.settings.bbcode.name}}<br/><small class="text-muted">{{lang.settings.bbcode.description}}</small></label>
                <div class="col-md-8">
                    <textarea class="form-control" rows="8"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">{{lang.settings.welcome.name}}<br/><small class="text-muted">{{lang.settings.welcome.description}}</small></label>
                <div class="col-md-8">
                    <input type="button" class="btn btn-outline-primary" value="{{lang.settings.welcome.button}}"/>
                </div>
            </div>

        </div>
    </div>

</div>